In [5]:
import pandas as pd
df = pd.read_csv("merged.csv", index_col=0, header=0)

In [7]:
df = df.sort_values(by=["Year", "CalendarWeek"])

In [8]:
df

,specialization,Year,CalendarWeek,absolute,extrapolated,Region,InfluenzaCases,Population,InfluenzaCasesPerCapita,VaccinationsPerCapita
0,1,2024,31,1,44,Baden-Württemberg,16,11230740,1.424661e-06,0.000004
44,3,2024,31,1,59,Baden-Württemberg,16,11230740,1.424661e-06,0.000005
592,1,2024,31,1,41,Rheinland-Pfalz,3,4125163,7.272440e-07,0.000010
1,1,2024,32,4,180,Baden-Württemberg,13,11230740,1.157537e-06,0.000016
67,1,2024,32,2,86,Bayern,7,13176426,5.312518e-07,0.000007
...,...,...,...,...,...,...,...,...,...,...
799,3,2025,5,52,2592,Sachsen-Anhalt,2480,2144570,1.156409e-03,0.001209
821,1,2025,5,37,1299,Schleswig-Holstein,1206,2953202,4.083703e-04,0.000440
862,3,2025,5,60,1258,Schleswig-Holstein,1206,2953202,4.083703e-04,0.000426
884,1,2025,5,40,1000,Thüringen,2809,2114870,1.328214e-03,0.000473
920,3,2025,5,27,1404,Thüringen,2809,2114870,1.328214e-03,0.000664

In [12]:
df2 = pd.read_csv("20025-03-07_cgm-datathon-challenge-flu_riskgroupsv1.csv", sep=";")

In [14]:
df2.drop_duplicates(inplace=True)

In [15]:
df2.columns

Index(['week', 'kvregion', 'region', 'specialization', 'gender', 'age_group',
       'insurancecode', 'insurancetype', 'risk_groups', 'absolute',
       'extrapolated'],
      dtype='object')

In [17]:
duplicates = df2[df2.duplicated(subset=['week', 'kvregion', 'region', 'specialization', 'gender', 'age_group',
       'insurancecode', 'insurancetype', 'risk_groups'], keep=False)]

In [18]:
duplicates

,week,kvregion,region,specialization,gender,age_group,insurancecode,insurancetype,risk_groups,absolute,extrapolated
60,2024-35,Nordrhein-Westfalen,Region West,1,f,60-199,89111,GKV,NaN,1,31
61,2024-35,Nordrhein-Westfalen,Region West,1,f,60-199,89111,GKV,NaN,14,436
69,2024-35,Nordrhein-Westfalen,Region West,1,m,60-199,89111,GKV,NaN,3,93
70,2024-35,Nordrhein-Westfalen,Region West,1,m,60-199,89111,GKV,NaN,12,373
86,2024-36,Bayern,Region Süd,1,f,0-29,89112,GKV,NaN,1,46
...,...,...,...,...,...,...,...,...,...,...,...
35983,2025-05,Thüringen,Region Ost,3,f,60-199,89111,GKV,NaN,5,260
35986,2025-05,Thüringen,Region Ost,3,m,60-199,89111,GKV,NaN,2,104
35987,2025-05,Thüringen,Region Ost,3,m,60-199,89111,GKV,Hypertonie,1,52
35988,2025-05,Thüringen,Region Ost,3,m,60-199,89111,GKV,NaN,6,312
35993,2025-05,Thüringen,Region Ost,3,m,60-199,89111,GKV,Hypertonie,2,104