In [45]:
import pandas as pd
df = pd.read_csv("merged.csv", index_col=0, header=0)

In [46]:
df = df.sort_values(by=["Year", "CalendarWeek"])

In [47]:
df

,specialization,Year,CalendarWeek,absolute,extrapolated,Region,InfluenzaCases,Population,InfluenzaCasesPerCapita,VaccinationsPerCapita
0,1,2024,31,1,44,Baden-Württemberg,16,11230740,1.424661e-06,0.000004
44,3,2024,31,1,59,Baden-Württemberg,16,11230740,1.424661e-06,0.000005
592,1,2024,31,1,41,Rheinland-Pfalz,3,4125163,7.272440e-07,0.000010
1,1,2024,32,4,180,Baden-Württemberg,13,11230740,1.157537e-06,0.000016
67,1,2024,32,2,86,Bayern,7,13176426,5.312518e-07,0.000007
...,...,...,...,...,...,...,...,...,...,...
799,3,2025,5,52,2592,Sachsen-Anhalt,2480,2144570,1.156409e-03,0.001209
821,1,2025,5,37,1299,Schleswig-Holstein,1206,2953202,4.083703e-04,0.000440
862,3,2025,5,60,1258,Schleswig-Holstein,1206,2953202,4.083703e-04,0.000426
884,1,2025,5,40,1000,Thüringen,2809,2114870,1.328214e-03,0.000473
920,3,2025,5,27,1404,Thüringen,2809,2114870,1.328214e-03,0.000664

In [48]:
df2 = pd.read_csv("20025-03-07_cgm-datathon-challenge-flu_riskgroupsv1.csv", sep=";")

In [49]:
df2.drop_duplicates(inplace=True)

In [50]:
df2.columns

Index(['week', 'kvregion', 'region', 'specialization', 'gender', 'age_group',
       'insurancecode', 'insurancetype', 'risk_groups', 'absolute',
       'extrapolated'],
      dtype='object')

In [51]:
duplicates = df2[df2.duplicated(subset=['week', 'kvregion', 'region', 'specialization', 'gender', 'age_group',
       'insurancecode', 'insurancetype', 'risk_groups'], keep=False)]

In [52]:
duplicates

,week,kvregion,region,specialization,gender,age_group,insurancecode,insurancetype,risk_groups,absolute,extrapolated
60,2024-35,Nordrhein-Westfalen,Region West,1,f,60-199,89111,GKV,NaN,1,31
61,2024-35,Nordrhein-Westfalen,Region West,1,f,60-199,89111,GKV,NaN,14,436
69,2024-35,Nordrhein-Westfalen,Region West,1,m,60-199,89111,GKV,NaN,3,93
70,2024-35,Nordrhein-Westfalen,Region West,1,m,60-199,89111,GKV,NaN,12,373
86,2024-36,Bayern,Region Süd,1,f,0-29,89112,GKV,NaN,1,46
...,...,...,...,...,...,...,...,...,...,...,...
35983,2025-05,Thüringen,Region Ost,3,f,60-199,89111,GKV,NaN,5,260
35986,2025-05,Thüringen,Region Ost,3,m,60-199,89111,GKV,NaN,2,104
35987,2025-05,Thüringen,Region Ost,3,m,60-199,89111,GKV,Hypertonie,1,52
35988,2025-05,Thüringen,Region Ost,3,m,60-199,89111,GKV,NaN,6,312
35993,2025-05,Thüringen,Region Ost,3,m,60-199,89111,GKV,Hypertonie,2,104

In [53]:
dfr = df2
dfo = pd.read_csv("20025-03-07_cgm-datathon-challenge-flu_v1.csv", sep=";")

In [54]:
dfr_none = dfr[dfr["risk_groups"].isna()].copy(deep=True)
dfr_none.drop(columns=["risk_groups"], inplace=True)
dfr_none

,week,kvregion,region,specialization,gender,age_group,insurancecode,insurancetype,absolute,extrapolated
0,2024-31,Baden-Württemberg,Region Süd,1,m,30-59,375,GKV,1,44
1,2024-31,Baden-Württemberg,Region Süd,3,f,60-199,89111,GKV,1,59
2,2024-31,Rheinland-Pfalz,Region West,1,f,30-59,89111,GKV,1,41
3,2024-32,Baden-Württemberg,Region Süd,1,f,30-59,375,GKV,1,45
4,2024-32,Baden-Württemberg,Region Süd,1,f,30-59,375,PKV,1,45
...,...,...,...,...,...,...,...,...,...,...
35981,2025-05,Thüringen,Region Ost,3,f,30-59,89112,GKV,1,52
35982,2025-05,Thüringen,Region Ost,3,f,60-199,89111,GKV,3,156
35983,2025-05,Thüringen,Region Ost,3,f,60-199,89111,GKV,5,260
35986,2025-05,Thüringen,Region Ost,3,m,60-199,89111,GKV,2,104
35988,2025-05,Thüringen,Region Ost,3,m,60-199,89111,GKV,6,312

In [63]:
dfr_merge = dfr_none.merge(dfo, on=['week', 'kvregion', 'region', 'specialization', 'gender', 'age_group',
       'insurancecode', 'insurancetype'], how='right')

In [67]:
dfr_merge

,week,kvregion,region,specialization,gender,age_group,insurancecode,insurancetype,absolute_x,extrapolated_x,absolute_y,extrapolated_y
0,2024-31,Baden-Württemberg,Region Süd,1,m,30-59,375,GKV,1.0,44.0,1,44
1,2024-31,Baden-Württemberg,Region Süd,3,f,60-199,89111,GKV,1.0,59.0,1,59
2,2024-31,Rheinland-Pfalz,Region West,1,f,30-59,89111,GKV,1.0,41.0,1,41
3,2024-32,Baden-Württemberg,Region Süd,1,f,30-59,375,GKV,1.0,45.0,1,45
4,2024-32,Baden-Württemberg,Region Süd,1,f,30-59,375,PKV,1.0,45.0,1,45
...,...,...,...,...,...,...,...,...,...,...,...,...
30986,2025-05,Thüringen,Region Ost,3,m,30-59,89112,GKV,NaN,NaN,1,52
30987,2025-05,Thüringen,Region Ost,3,m,60-199,89111,GKV,2.0,104.0,3,156
30988,2025-05,Thüringen,Region Ost,3,m,60-199,89111,GKV,6.0,312.0,3,156
30989,2025-05,Thüringen,Region Ost,3,m,60-199,89111,GKV,2.0,104.0,9,467
30990,2025-05,Thüringen,Region Ost,3,m,60-199,89111,GKV,6.0,312.0,9,467

In [64]:
len()

30991

In [77]:
dfr_merge.dtypes

week               object
kvregion           object
region             object
specialization      int64
gender             object
age_group          object
insurancecode      object
insurancetype      object
absolute_x        float64
extrapolated_x    float64
absolute_y        float64
extrapolated_y    float64
dtype: object

In [76]:
dfr_merge['absolute_y'] = dfr_merge['absolute_y'].astype(float)
dfr_merge['extrapolated_y'] = dfr_merge['extrapolated_y'].astype(float)

In [79]:
len(dfr_merge[(dfr_merge['absolute_y'] == dfr_merge['absolute_x']) |
              (dfr_merge['extrapolated_y'] == dfr_merge['extrapolated_x'])])

15012

In [65]:
len(dfo)

20791

In [66]:
len(dfr_none)

18776