In [1]:
import pandas as pd
import numpy as np

In [10]:
file_path = '/Users/toby/Downloads/20025-03-07_cgm-datathon-challenge-flu_riskgroupsv1.csv'
df = pd.read_csv(file_path, sep=';')

In [12]:
df.head(5)

,week,kvregion,region,specialization,gender,age_group,insurancecode,insurancetype,risk_groups,absolute,extrapolated
0,2024-31,Baden-Württemberg,Region Süd,1,m,30-59,375,GKV,NaN,1,44
1,2024-31,Baden-Württemberg,Region Süd,3,f,60-199,89111,GKV,NaN,1,59
2,2024-31,Rheinland-Pfalz,Region West,1,f,30-59,89111,GKV,NaN,1,41
3,2024-32,Baden-Württemberg,Region Süd,1,f,30-59,375,GKV,NaN,1,45
4,2024-32,Baden-Württemberg,Region Süd,1,f,30-59,375,PKV,NaN,1,45

In [51]:
df['risk_groups'].value_counts(normalize=True, dropna=False)

risk_groups
NaN                          0.551120
Hypertonie                   0.132328
Diabetes T2                  0.083597
Asthma                       0.063372
Chronische Herzkreislauf     0.059288
COPD                         0.048369
Chronische Leberkrankheit    0.047563
Diabetes T1                  0.014364
Name: proportion, dtype: float64

In [14]:
df['risk_groups'].unique()

array([nan, 'Chronische Leberkrankheit', 'Hypertonie', 'Asthma', 'COPD',
       'Chronische Herzkreislauf', 'Diabetes T2', 'Diabetes T1'],
      dtype=object)

In [61]:
# First Data from : https://webgate.ec.europa.eu/dyna/echi/?indlist=21a :: value is the proportion to the population
# asthma (combined, diabities (can combine T1 and T2), chronic obstructive pulmonary disease
disease = pd.read_excel('/Users/toby/Downloads/echi-export-HSIND027001_HSIND027003_HSIND027002_HSIND029001_HSIND029003_HSIND030001_HSIND030002_HSIN.xlsx')
disease = disease.drop(columns = ['Flag', 'FlagDescr', 'Code', 'Iso', 'Country', 'Year'])
disease = disease.rename(columns= {'Value' : 'Proportion of Population'})
disease.head(50)

                                         Description  Proportion of Population
0  Proportion of people reporting diabetes in the...                       7.2
1  Proportion of men reporting diagnosed diabetes...                       8.0
2  Proportion of women reporting diagnosed diabet...                       6.4
3  Proportion of people reporting asthma in the p...                       6.1
4  Proportion of men reporting asthma in the past...                       5.3
5  Proportion of women reporting asthma in the pa...                       6.9
6  Proportion of people reporting chronic obstruc...                       5.3
7  Proportion of men reporting chronic obstructiv...                       5.2
8  Proportion of women reporting chronic obstruct...                       5.3

have:
- asthma, diabietes, heart disease

need:
- chronic liver disease, herzkreislauf, hypertonie

Found:
- Liver: https://www.deutsche-leberstiftung.de/presse/pressemappe/lebererkrankungen/
    5 mio
    - using pop 2014: 80.98 million (2014) then 5/81 = 0.06172 = 6.2%

- Herzkreislauf: 2014: https://www.gbe.rki.de/DE/Themen/Gesundheitszustand/KoerperlicheErkrankungen/HerzKreislaufErkrankungen/KoronareHerzerkrankungPraevalenz/koronareHerzerkrankungPraevalenz_node.html?darstellung=0&kennzahl=1&zeit=2014&geschlecht=0&standardisierung=0#_p68l57ky2
    18-44 : 1,4%
    45-64   6.5%
    65-79   18,7%
    >= 80   31,6%

- Hyptonie: https://edoc.rki.de/bitstream/handle/176904/2581/JoHM_2017_01_gesundheitliche_lage3.pdf?sequence=4&isAllowed=y

In [57]:
df['risk_groups'].unique()

array([nan, 'Chronische Leberkrankheit', 'Hypertonie', 'Asthma', 'COPD',
       'Chronische Herzkreislauf', 'Diabetes T2', 'Diabetes T1'],
      dtype=object)

In [63]:
simple_disease = pd.DataFrame(columns=['Disease', 'Prevelance'])
simple_disease.loc[len(simple_disease)] = ['Chronische Leberkrankheit', 6.2]
simple_disease.loc[len(simple_disease)] = ['Chronische Herzkreislauf', 7.6]
simple_disease.loc[len(simple_disease)] = ['Diabetes T1', 7.2]
simple_disease.loc[len(simple_disease)] = ['Diabetes T2', 7.2]
simple_disease.loc[len(simple_disease)] = ['Asthma', 6.1]
simple_disease.loc[len(simple_disease)] = ['COPD', 5.3]
simple_disease.loc[len(simple_disease)] = ['Hypertonie', 31.8]
simple_disease.head(50)

                     Disease  Prevelance
0  Chronische Leberkrankheit         6.2
1   Chronische Herzkreislauf         7.6
2                Diabetes T1         7.2
3                Diabetes T2         7.2
4                     Asthma         6.1
5                       COPD         5.3
6                 Hypertonie        31.8

In [65]:
simple_disease.to_csv('disease_prevelance_simple.csv')