In [1]:
import pandas as pd

In [12]:
base_path = '/Users/toby/STADS_Datathon2025/'
df = pd.read_csv(f'{base_path}final_merged_no_dupe.csv')
df.head()

,Unnamed: 0,week,kvregion,region,specialization,gender,age_group,insurancecode,insurancetype,risk_groups,absolute,extrapolated
0,0,2024-31,Baden-Württemberg,Region Süd,1,m,30-59,375,GKV,NaN,1,44
1,1,2024-31,Baden-Württemberg,Region Süd,3,f,60-199,89111,GKV,NaN,1,59
2,2,2024-31,Rheinland-Pfalz,Region West,1,f,30-59,89111,GKV,NaN,1,41
3,3,2024-32,Baden-Württemberg,Region Süd,1,f,30-59,375,GKV,NaN,1,45
4,4,2024-32,Baden-Württemberg,Region Süd,1,f,30-59,375,PKV,NaN,1,45

# Ground Populations For Plot 4

In [70]:
new_df = pd.DataFrame(columns=['Federal State', 'Age Group', 'Ground Population'])
new_df.loc[len(new_df)] = ['Baden-Württemberg', '0-29', (1645+550+656+718)*1000]
new_df.loc[len(new_df)] = ['Baden-Württemberg', '30-59', (782+744+724+674+769+890)*1000]
new_df.loc[len(new_df)] = ['Baden-Württemberg', '60-199', (822+651+542+1118)*1000]

new_df.loc[len(new_df)] = ['Bayern', '0-29', (1921+627+730+830)*1000]
new_df.loc[len(new_df)] = ['Bayern', '30-59', (954+890+870+809+935+1081)*1000]
new_df.loc[len(new_df)] = ['Bayern', '60-199', (964+774+646+1331)*1000]

new_df.loc[len(new_df)] = ['Berlin', '0-29', (544+161+204+274)*1000]
new_df.loc[len(new_df)] = ['Berlin', '30-59', (347+314+277+221+227+267)*1000]
new_df.loc[len(new_df)] = ['Berlin', '60-199', (227+177+170+352)*1000]

new_df.loc[len(new_df)] = ['Brandenburg', '0-29', (352+112+105+88)*1000]
new_df.loc[len(new_df)] = ['Brandenburg', '30-59', (132+165+187+141+178+217)*1000]
new_df.loc[len(new_df)] = ['Brandenburg', '60-199', (234+188+150+300)*1000]

new_df.loc[len(new_df)] = ['Bremen', '0-29', (99+33+42+51)*1000]
new_df.loc[len(new_df)] = ['Bremen', '30-59', (49+45+43+39+44+51)*1000]
new_df.loc[len(new_df)] = ['Bremen', '60-199', (46+37+32+68)*1000]

new_df.loc[len(new_df)] = ['Hamburg', '0-29', (277+88+106+152)*1000]
new_df.loc[len(new_df)] = ['Hamburg', '30-59', (159+145+133+119+126+138)*1000]
new_df.loc[len(new_df)] = ['Hamburg', '60-199', (111+86+74+167)*1000]

new_df.loc[len(new_df)] = ['Hessen', '0-29', (925+320+339+396)*1000]
new_df.loc[len(new_df)] = ['Hessen', '30-59', (438+413+413+389+442+525)*1000]
new_df.loc[len(new_df)] = ['Hessen', '60-199', (449+370+311+637)*1000]




new_df.head(50)

        Federal State Age Group  Ground Population
0   Baden-Württemberg      0-29            3569000
1   Baden-Württemberg     30-59            4583000
2   Baden-Württemberg    60-199            3133000
3              Bayern      0-29            4108000
4              Bayern     30-59            5539000
5              Bayern    60-199            3715000
6              Berlin      0-29            1183000
7              Berlin     30-59            1653000
8              Berlin    60-199             926000
9         Brandenburg      0-29             657000
10        Brandenburg     30-59            1020000
11        Brandenburg    60-199             872000
12             Bremen      0-29             225000
13             Bremen     30-59             271000
14             Bremen    60-199             183000
15            Hamburg      0-29             623000
16            Hamburg     30-59             820000
17            Hamburg    60-199             438000
18             Hessen      0-29            1980000
19             Hessen     30-59            2620000
20             Hessen    60-199            1767000

In [72]:
arved_df = pd.read_excel('/Users/toby/Downloads/state_pops.xlsx')
arved_df.head()

final_ground_age_by_state = pd.concat([arved_df, new_df]).reset_index()
print(final_ground_age_by_state['Ground Population'].sum())
final_ground_age_by_state.head(50)

83610000

    index Age Group           Federal State  Ground Population
0       0      0-29               Thüringen             550000
1       1     30-59               Thüringen             812000
2       2    60-199               Thüringen             732000
3       3      0-29      Schleswig-Holstein             860000
4       4     30-59      Schleswig-Holstein            1161000
5       5    60-199      Schleswig-Holstein             890000
6       6      0-29          Sachsen-Anhalt             554000
7       7     30-59          Sachsen-Anhalt             833000
8       8    60-199          Sachsen-Anhalt             764000
9       9      0-29                 Sachsen            1109000
10     10     30-59                 Sachsen            1579000
11     11    60-199                 Sachsen            1344000
12     12      0-29                Saarland             277000
13     13     30-59                Saarland             390000
14     14    60-199                Saarland             322000
15     15      0-29         Rheinland-Pfalz            1247000
16     16     30-59         Rheinland-Pfalz            1385000
17     17    60-199         Rheinland-Pfalz            1223000
18     18      0-29     Nordrhein-Westfalen            5610000
19     19     30-59     Nordrhein-Westfalen            7257000
20     20    60-199     Nordrhein-Westfalen            5133000
21     21      0-29           Niedersachsen            2487000
22     22     30-59           Niedersachsen            3223000
23     23    60-199           Niedersachsen            2369000
24     24      0-29  Mecklenburg-Vorpommern             416000
25     25     30-59  Mecklenburg-Vorpommern             630000
26     26    60-199  Mecklenburg-Vorpommern             568000
27      0      0-29       Baden-Württemberg            3569000
28      1     30-59       Baden-Württemberg            4583000
29      2    60-199       Baden-Württemberg            3133000
30      3      0-29                  Bayern            4108000
31      4     30-59                  Bayern            5539000
32      5    60-199                  Bayern            3715000
33      6      0-29                  Berlin            1183000
34      7     30-59                  Berlin            1653000
35      8    60-199                  Berlin             926000
36      9      0-29             Brandenburg             657000
37     10     30-59             Brandenburg            1020000
38     11    60-199             Brandenburg             872000
39     12      0-29                  Bremen             225000
40     13     30-59                  Bremen             271000
41     14    60-199                  Bremen             183000
42     15      0-29                 Hamburg             623000
43     16     30-59                 Hamburg             820000
44     17    60-199                 Hamburg             438000
45     18      0-29                  Hessen            1980000
46     19     30-59                  Hessen            2620000
47     20    60-199                  Hessen            1767000

# Plots

In [106]:
#Plot 1
def load_df_p1(df):
    df_p1 = df.copy()
    df_p1 = df_p1[['gender', 'insurancetype', 'extrapolated']]
    group_cols = ['gender', 'insurancetype']
    agg_col = 'extrapolated'
    df_p1 = df_p1.groupby(group_cols).agg({agg_col: "sum"}).reset_index()
    df_p1 = df_p1[(df_p1['gender'] == 'f') | (df_p1['gender'] == 'm')]
    df_p1['Ground Population'] = [37600000, 4420000, 35400000, 4280000]
    df_p1['Ratio'] = (df_p1['extrapolated']/df_p1['Ground Population'])*100
    print(df_p1['Ratio'].sum())
    return df_p1

load_df_p1(df).head()

115.93194041145006

  gender insurancetype  extrapolated  Ground Population      Ratio
0      f           GKV      14341971           37600000  38.143540
1      f           PKV        829703            4420000  18.771561
2      m           GKV      11239597           35400000  31.750274
3      m           PKV       1167009            4280000  27.266565

In [105]:
#Plot 2 - age, insurance
def load_df_p2(df):
    df_p2 = df.copy()
    df_p2 = df_p2[['age_group', 'insurancetype', 'extrapolated']]
    group_cols = ['age_group', 'insurancetype']
    agg_col = 'extrapolated'
    df_p2 = df_p2.groupby(group_cols).agg({agg_col: "sum"}).reset_index()
    df_p2 = df_p2.sort_values(by=['insurancetype'])
    df_p2['Ground Population'] = [22290000, 29720000, 22290000, 2610000, 3480000, 2610000]
    print(df_p2['Ground Population'].sum())
    df_p2['Ratio'] = (df_p2['extrapolated']/df_p2['Ground Population'])*100
    return df_p2

load_df_p2(df).head(25)

83000000

  age_group insurancetype  extrapolated  Ground Population      Ratio
0      0-29           GKV        358255           22290000   1.607245
2     30-59           GKV       4276500           29720000  14.389300
4    60-199           GKV      20947966           22290000  93.979210
1      0-29           PKV         27521            2610000   1.054444
3     30-59           PKV        228681            3480000   6.571293
5    60-199           PKV       1742013            2610000  66.743793

In [108]:
#Plot 3 - risk and age
def load_df_p3(df):
    df_p3 = df.copy()
    df_p3['risk_groups'] = df['risk_groups'].notna().astype(int)
    df_p3 = df_p3[['age_group', 'risk_groups', 'extrapolated']]
    group_cols = ['age_group', 'risk_groups']
    agg_col = 'extrapolated'
    df_p3 = df_p3.groupby(group_cols).agg({agg_col: "sum"}).reset_index()
    df_p3 = df_p3.sort_values(by=['risk_groups'])
    df_p3['Ground Population'] = [2500000, 10000000, 14000000, 23750000, 20000000, 8000000]
    df_p3['Ratio'] = (df_p3['extrapolated']/df_p3['Ground Population'])*100
    
    return df_p3

load_df_p3(df).head(25)

  age_group  risk_groups  extrapolated  Ground Population       Ratio
0      0-29            0        369550            2500000   14.782000
2     30-59            0       4076464           10000000   40.764640
4    60-199            0      19492645           14000000  139.233179
1      0-29            1         16226           23750000    0.068320
3     30-59            1        428717           20000000    2.143585
5    60-199            1       3197334            8000000   39.966675

In [111]:
#Plot 4 - Federal State and Insurance Type
def load_df_p4(df):
    df_p4 = df.copy()
    df_p4 = df_p4[['kvregion', 'age_group', 'extrapolated']]
    group_cols = ['kvregion', 'age_group']
    agg_col = 'extrapolated'
    df_p4 = df_p4.groupby(group_cols).agg({agg_col: "sum"}).reset_index()

    merged_df_p4 = pd.merge(df_p4, final_ground_age_by_state, left_on=['kvregion','age_group'], right_on=['Federal State', 'Age Group'])
    #print(merged_df_p4.head(5))
    merged_df_p4 = merged_df_p4[['kvregion', 'age_group', 'extrapolated', 'Ground Population']]
    df_p4 = merged_df_p4.copy()
    df_p4['Ratio'] = (df_p4['extrapolated']/df_p4['Ground Population'])*100
    return df_p4
load_df_p4(df).head(60)

,kvregion,age_group,extrapolated,Ground Population,Ratio
0,Baden-Württemberg,0-29,24554,3569000,0.687980
1,Baden-Württemberg,30-59,359782,4583000,7.850360
2,Baden-Württemberg,60-199,2287945,3133000,73.027290
3,Bayern,0-29,51463,4108000,1.252751
4,Bayern,30-59,509903,5539000,9.205687
5,Bayern,60-199,2371532,3715000,63.836662
6,Berlin,0-29,18424,1183000,1.557396
7,Berlin,30-59,307826,1653000,18.622263
8,Berlin,60-199,1123286,926000,121.305184
9,Brandenburg,0-29,5814,657000,0.884932
10,Brandenburg,30-59,104062,1020000,10.202157
11,Brandenburg,60-199,567091,872000,65.033372
12,Bremen,0-29,3184,225000,1.415111
13,Bremen,30-59,38018,271000,14.028782
14,Bremen,60-199,199591,183000,109.066120
15,Hamburg,0-29,5431,623000,0.871750
16,Hamburg,30-59,73016,820000,8.904390
17,Hamburg,60-199,325708,438000,74.362557
18,Hessen,0-29,31502,1980000,1.591010
19,Hessen,30-59,347979,2620000,13.281641
20,Hessen,60-199,1732001,1767000,98.019298
21,Mecklenburg-Vorpommern,0-29,7476,416000,1.797115
22,Mecklenburg-Vorpommern,30-59,90748,630000,14.404444
23,Mecklenburg-Vorpommern,60-199,557399,568000,98.133627
24,Niedersachsen,0-29,40596,2487000,1.632328
25,Niedersachsen,30-59,489069,3223000,15.174341
26,Niedersachsen,60-199,2660432,2369000,112.301900
27,Nordrhein-Westfalen,0-29,95725,5610000,1.706328
28,Nordrhein-Westfalen,30-59,1245809,7257000,17.166997
29,Nordrhein-Westfalen,60-199,5183957,5133000,100.992733
30,Rheinland-Pfalz,0-29,9872,1247000,0.791660
31,Rheinland-Pfalz,30-59,171527,1385000,12.384621
32,Rheinland-Pfalz,60-199,1133000,1223000,92.641047
33,Saarland,0-29,4676,277000,1.688087
34,Saarland,30-59,60085,390000,15.406410
35,Saarland,60-199,336317,322000,104.446273
36,Sachsen,0-29,15993,1109000,1.442110
37,Sachsen,30-59,168541,1579000,10.673908
38,Sachsen,60-199,1330319,1344000,98.982068
39,Sachsen-Anhalt,0-29,43428,554000,7.838989
40,Sachsen-Anhalt,30-59,200974,833000,24.126531
41,Sachsen-Anhalt,60-199,1012998,764000,132.591361
42,Schleswig-Holstein,0-29,14723,860000,1.711977
43,Schleswig-Holstein,30-59,190270,1161000,16.388458
44,Schleswig-Holstein,60-199,989776,890000,111.210787
45,Thüringen,0-29,12915,550000,2.348182
46,Thüringen,30-59,147572,812000,18.173892
47,Thüringen,60-199,878627,732000,120.031011